/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap");
/* Global Styles */
:root {
  --primary-color: #3a3a3a;
  --secondary-color: #18191f;
  --text-color: rgba(0, 0, 0, 0.87);
  --text-gray: #d9dbe1;
  --bg-color: #ffffff;
  --btn-bg-color: #e02c6d;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: var(--font-poppins);
  background-color: var(--bg-color);
  color: var(--primary-color);
  line-height: 1.3em;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  color: #ffffff;
  background-color: var(--btn-bg-color);
  font-size: 1rem;
  font-weight: var(--font-bold);
  font-family: var(--font-poppins);
  padding: 0.59rem 1.9rem;
  cursor: pointer;
  border: none;
}
