/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap");
/* Global Styles */
:root {
  --primary-color: #3a3a3a;
  --secondary-color: #18191f;
  --text-color: rgba(0, 0, 0, 0.87);
  --text-gray: #d9dbe1;
  --bg-color: #ffffff;
  --accent-color: #e02c6d;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --text-base: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--text-base);
  font-family: var(--font-poppins);
  background-color: var(--bg-color);
  color: var(--primary-color);
  line-height: 1.5;
}

#main > section {
  margin-top: 7rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.btn {
  color: #ffffff;
  background-color: var(--accent-color);
  font-size: 1rem;
  font-weight: var(--font-bold);
  font-family: var(--font-poppins);
  padding: 0.625rem 1.5rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.flex {
  display: flex;
}

/* Header Area Styles */
.header-area {
  background-color: var(--text-gray);
}

/* Navbar Area */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
}

.brand-logo {
  max-width: 230px;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  align-items: center;
  gap: 2rem;
}

.nav-links {
  color: var(--primary-color);
  transition: color 0.3s ease;
  font-weight: var(--font-semi-bold);
}

.nav-links:hover {
  color: var(--accent-color);
}

.nav-icons {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

/* Mobile Navbar */
.mobile-nav {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
}

.mobile-nav button {
  border: none;
  background: transparent;
  min-width: 1.5rem;
  min-height: 1.5rem;
  align-items: center;
  justify-content: center;
}

.mobile-shopping {
  min-width: 1.5rem;
  min-height: 1.5rem;
  align-items: center;
  justify-content: center;
}

.mobile-logo {
  min-width: 162px;
  align-items: center;
  justify-content: center;
}

/* Banner Area */
.banner-area {
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  padding: 4.5rem 0;
}

.banner-content {
  width: 50%;
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
}

.banner-content p {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2rem;
}

.banner-content button {
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2.5rem;
}

.banner-img {
  display: flex;
  width: 50%;
  max-width: 440px;
  background: url(../assets/images/Circle-design.svg) no-repeat bottom left /
    contain;
  padding: 1.75rem;
}

/* Company Area Styles */
.company-area {
  padding: 0.5rem 0;
}

.company-cards {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
  gap: 2.5rem;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #e02c6e25;
}

/* Collection Area Styles */
.collection-area h2 {
  font-size: 1.75rem;
  text-align: center;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
  font-weight: var(--font-semi-bold);
}

.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.collection-card {
  padding: 1.825rem;
  box-shadow: 0px 3px 9px 0px var(--text-gray);
  border-radius: 0.5rem;
}

.collection-card h4 {
  font-size: 1.75rem;
  font-weight: var(--font-medium);
  margin: 0.5rem 0;
}

.collection-card h6 {
  color: var(--text-color);
  font-size: 1.5rem;
  font-family: var(--font-inter);
  font-weight: var(--font-normal);
  margin-bottom: 0.5rem;
}

.collection-card .rating {
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.collection-card .rating span {
  color: #5e6366;
  font-size: 0.8rem;
  font-family: var(--font-roboto);
  font-weight: var(--font-bold);
}

.collection-card h5,
.collection-card small {
  color: #787885;
  font-size: 0.875rem;
  font-family: var(--font-inter);
  font-weight: var(--font-bold);
}

/* Feature Area Styles */
.feature-area {
  background-color: #e02c6e25;
  padding: 2.25rem 0;
}

.feature-container {
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.feature-img {
  width: 40%;
}

.feature-content {
  width: 60%;
  flex-direction: column;
  gap: 1rem;
}

.feature-content h2 {
  color: var(--secondary-color);
  font-size: 2.5rem;
  font-weight: var(--font-bold);
}

.feature-content p {
  color: #6c6c6c;
  font-weight: var(--font-bold);
}

.feature-content button {
  width: fit-content;
}

/* Footer Area Styles */
.footer-area {
  padding: 3.125rem 0;
  background-color: #0a0826;
  margin-top: 7rem;
}

.footer-container {
  width: 90%;
  max-width: 305px;
  margin: 0 auto;
}

.footer-logo-area {
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer-brand {
  max-width: 243px;
}

.footer-logo-area span {
  color: var(--text-gray);
  font-size: 0.875rem;
  font-weight: var(--font-bold);
}

.footer-social {
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-social a {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  background-color: #22213c;
  border-radius: 50%;
}
